/* assets/custom.css */

/* Un poquito más de sombra y fondo blanco puro para las tarjetas */
.card-graph {
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

/* Si quieres ajustar el texto de los DatePicker para que tenga el mismo tono azul */
.DateInput_input {
  color: #5e5ecc !important;
  font-weight: 500;
}

/* Otras clases de Dash para dropdowns */
.Select-control {
  border: none !important;
}

/* Para que el picker tenga un padding interno mayor */
.date-picker-pill, .dropdown-pill {
  background-color: #ffffff;
}
